h1{
    color:aquamarine;
    font-family: Arial;
    font-size: 50px;
    text-align: center;
  }

  p{
    text-indent: 30px;
    line-height: 1.5;
    font-size: 16px;
    color: plum;
   }

li{
    color: violet;
    font-size: 12px;
    font-family: cursive;}